{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "The Developer Nexus - Logout" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Logout" %}{% endblock header %}

{% block content %}
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <p class="d-inline">{% trans 'Are you sure you want to log out?' %}</p>
        <button class="ml-4 d-inline btn btn-danger" type="submit">{% trans 'Logout' %}</button>
    </form>
{% endblock content %}
