{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "The Developer Nexus - Password Reset Processed" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Password Reset Processed" %}{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p>
            <strong>{% trans "Note" %}:</strong>
            {% blocktrans %}
                <span class="ml-1">You are already logged in as {{ user_display }}.</span>
            {% endblocktrans %}
        </p>
        <hr>
     {% endif %}

    <p>{% trans "Password reset e-mail sent!" %}</p>
    <p>{% trans "Please note it can take up to several hours before the e-mail shows up in your inbox." %}</p>
    <p>{% trans "Please make sure you also check your Junk e-mail." %}</p>
{% endblock content %}
