{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "The Developer Nexus - Change Password" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Change Password" %}{% endblock header %}

{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    <hr>
    <a href="{% url 'account_reset_password' %}">
        <button class="btn btn-warning" type="submit">
            {% trans "I forgot my password" %}
        </button>
    </a>
    <hr>
{% endblock content %}
