{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}The Developer Nexus - Change Password{% endblock title %}
{% block header %}The Developer Nexus - Change Password{% endblock header %}

{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
    </form>
    <hr>
    <a href="{% url 'account_reset_password' %}">I forgot my password</a>
    <hr>
{% endblock content %}
