{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "The Developer Nexus - Password Reset" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Password Reset" %}{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p>
            <strong>{% trans "Note" %}:</strong>
            {% blocktrans %}
                <span class="ml-1">You are already logged in as {{ user_display }}.</span>
            {% endblocktrans %}
        </p>
        <hr>
    {% endif %}

    <p>{% trans "Forgot your password?" %}</p>
    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}"/>
    </form>
{% endblock content %}
