{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "The Developer Nexus - Set Password" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Set Password" %}{% endblock header %}

{% block content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Set Password" %}</button>
    </form>
    <hr>
{% endblock content %}
