{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}

{% block title %}{% trans "The Developer Nexus - Sign Up" %}{% endblock title %}
{% block header %}{% trans "The Developer Nexus - Sign Up" %}{% endblock header %}

{% block content %}
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

    <br>
    <hr>
    <br>

    <a href="{% provider_login_url 'github' %}">
        <img src="/static/img/octocat.png" alt="GitHub Mascot" width="200" height="166.25">
        <button class="btn btn-primary" type="submit">
            {% trans "Sign Up with a GitHub Account" %}
        </button>
    </a>

    <br>
    <hr>
    <br>

    <p>
        {% blocktrans %}<span class="d-inline">I already have an account: </span>{% endblocktrans %}
        <a href="{% url 'account_login' %}">
            <button class="ml-4 d-inline btn btn-info" type="submit">
                {% trans "Login with Existing Account" %}
            </button>
        </a>
    </p>
{% endblock content %}
