# Python virtual environment:
.venv/

# Python bytecode cache directory:
__pycache__/

# Vim temporary files:
*.swp

# Local database:
db.sqlite3

# Environment variables:
.env

# Log files:
logs/

# Python coverage:
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Database dump files:
dbdump/
