{% extends 'base.html' %}
{% load static %}

{% block title %}The Developer Nexus - About{% endblock title %}
{% block header %}The Developer Nexus - About{% endblock header %}

{% block content %}
    <a href="https://www.imdb.com/title/tt0111280/">
        <img src="{% static 'img/stg-nexus.png' %}">
    </a>

    <hr>

    <p>
        What's the path from getting started to becoming a seasoned professional developer?  Are you just learning the craft?  Are you a student or just entering the field?  Are you looking to progress from a junior to a senior developer?
    </p>

    <p>
        There are certainly plenty of good resources available.  However, where's the map?  Experienced developers just "know" where to go.  But what about those entering the field or looking to progress?  Where are the best resources?  What does it take to be good?  Where do you practice?  How do you learn what you don't know?  While it is possible to slowly figure this out over time, this sites aims to provide the big picture vista straight away.  Those looking for direction will quickly see what they need and where to get it from.
    </p>

    <hr>
{% endblock content %}
