{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}The Deverloper Nexus - Contact Us{% endblock title %}
{% block header %}The Deverloper Nexus - Contact Us{% endblock header %}

{% block content %}
    <img src="{% static 'img/contactus.jpg' %}" width="539" height="335">
    <hr>
    {% if not user.is_authenticated %}
        <h3>To submit feedback please <a href="{% url 'account_login' %}?next=/contact/">login</a> or <a href="{% url 'account_signup' %}?next=/contact/">sign up</a></h3>
    {% else %}
        <div class="contact-entry">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>
    {% endif %}
    <hr>
{% endblock content %}
