{% extends 'path_base.html' %}
{% load static %}

{% block title %}The Developer Nexus - Path Detail{% endblock title %}
{% block header %}The Developer Nexus - Path Detail{% endblock header %}

{% block content %}
    <div class="path-entry">
        <h2>{{ area.name }}</h2>
        <hr>
        <p>{{ area.description }}</p>
        <hr>
        <h3>Supporting Subjects</h3>
        <hr>
        {% for subject in area.subjects.all %}
            <p>
                <a href="{% url 'subject_detail' subject.pk %}">{{ subject.name }}</a> |
                [{{ subject.resources.count }} supporting resources]</h3>
            </p>
        {% endfor %}
    </div>
{% endblock content %}
