{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}The Developer Nexus - Post Detail{% endblock title %}
{% block header %}The Developer Nexus - Post Detail{% endblock header %}

{% block subheader %}
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="text-success" href="{% url 'post_new' %}">➕ Add Post</a>
            </li>
            {% if user.is_authenticated and user.username == post.author.username %}
                <li class="nav-item">
                    <a class="ml-4 text-warning" href="{% url 'post_edit' post.pk %}">🖉 Edit Post</a>
                </li>
                <li class="nav-item">
                    <a class="ml-4 text-danger" href="{% url 'post_delete' post.pk %}">❌ Delete Post</a>
                </li>
            {% endif %}
         </ul>
    </nav>
{% endblock subheader %}

{% block content %}
    <div class="card post-entry">
        <div class="card-header">
            <span class="font-weight-bold">{{ post.title }}</span>
            <span class="m-3">&middot;</span>
            <span class="text-muted">{{ post.type }} by {{ post.author }} - {{ post.created|naturaltime }}</span>
        </div>
        <div class="card-body">
            {{ post.body }}
        </div>
        {% if post.tags.all.count >= 1  or post.comments.all.count >= 1 %}
            <div class="card-footer text-muted">
                {% for tag in post.tags.all %}
                    {{ tag.name }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <br>
    <br>

    {% if post.comments.all.count > 0 %}
        <hr>
        <p class="text-lg-center">Comments</p>
        <hr>

        <div class="card comment-entry">
            {% for comment in post.comments.all %}
                <div class="card-header">
                    <span class="text-muted">
                        {{ comment.author }}
                        <span class="m-3">&middot;</span>
                        {{ comment.created|naturaltime }}
                    </span>
                </div>
                <div class="card-body">
                    {{ comment.body }}
                </div>
                {% if user.is_authenticated and user.username == comment.author.username %}
                    <div class="card-footer text-muted">
                        <a class="d-inline text-warning" href="{% url 'post_edit' post.pk %}">🖉 Edit Comment</a>
                        <a class="d-inline ml-4 text-danger" href="{% url 'post_delete' post.pk %}">❌ Delete Comment</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br>
    {% endif %}

    <hr>

    <a class="ml-2 text-info" href="{% url 'comment_new' post.pk %}">➕ Add Comment</a>
{% endblock content %}
