{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}The Developer Nexus - Delete Post{% endblock title %}
{% block header %}The Developer Nexus - Delete Post{% endblock header %}

{% block content %}
    <div class="post-entry">
        <h2>Are you sure you want to delete {{ post.title }}?</h2>
        <hr>
        <form action="" method="post">
            {% csrf_token %}

            <div class="card post-entry border-secondary">
                <div class="card-header border-secondary">
                    <span class="text-muted">{{ post.type }} by {{ post.author }} - {{ post.created|naturaltime }}</span>
                </div>
                <div class="card-body">
                    {{ post.body }}
                </div>
                {% if post.tags.all.count >= 1  or post.comments.all.count >= 1 %}
                    <div class="card-footer text-muted border-secondary">
                        {% for tag in post.tags.all %}
                            {{ tag.name }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <hr>
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
{% endblock content %}
