{% extends 'path_base.html' %}
{% load static %}

{% block title %}The Developer Nexus - Resources{% endblock title %}
{% block header %}The Developer Nexus - Resources{% endblock header %}

{% block content %}
    {% for resource in object_list %}
        <div class="card path-entry">
            <div class="card-header">
                <!-- Two options:
                     1) Use tags with url 'resource_detail' subject.pk
                     2) Use variable resource.get_absolute_url (preferred for linking to individual pages)
                        Can use #2 because we have defined a get_absolute_url method in the model -->
                <a href="{{ resource.get_absolute_url }}">
                    <span class="font-weight-bold">{{ resource.name }}</span>
                    <span class="m-3">&middot;</span>
                    <span class="text-muted">Type {{ resource.type }}</span>
                </a>
            </div>
            <div class="card-body">
                {{ resource.description }}
            </div>
            {% if resource.url %}
                <div class="card-footer text-muted">
                    <a href="{{ resource.url }}">Additional resource information</a> (External Site)
                </div>
            {% else %}
                No additional resource information
            {% endif %}
        </div>

        <br>
        <br>
     {% endfor %}
{% endblock content %}
