{% extends 'path_base.html' %}
{% load static %}

{% block title %}The Developer Nexus - Subject Detail{% endblock title %}
{% block header %}The Developer Nexus - Subject Detail{% endblock header %}

{% block content %}
    <div class="path-entry">
        <h2>{{ subject.name }}</h2>
        <hr>
        <p>{{ subject.description }}</p>
        <hr>
        <h3>Supporting Resources</h3>
        <hr>
        {% for resource in subject.resources.all %}
            <p>
                <a href="{% url 'resource_detail' resource.pk %}">{{ resource.name }}</a>
                {% if resource.url %}
                    [Includes external link]
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock content %}
