{% extends 'path_base.html' %}
{% load static %}

{% block title %}The Developer Nexus - Subjects{% endblock title %}
{% block header %}The Developer Nexus - Subjects{% endblock header %}

{% block content %}
    {% for subject in object_list %}
        <div class="card path-entry">
            <div class="card-header">
                <!-- Two options:
                     1) Use tags with url 'subject_detail' subject.pk
                     2) Use variable subject.get_absolute_url (preferred for linking to individual pages)
                        Can use #2 because we have defined a get_absolute_url method in the model -->
                <a href="{{ subject.get_absolute_url }}">
                    <span class="font-weight-bold">{{ subject.name }}</span>
                </a>
            </div>
            <div class="card-body">
                {{ subject.description }}
            </div>
            <div class="card-footer text-muted">
                {% if subject.resources.count == 0 %}
                    No supporting resources
                {% elif subject.resources.count == 1 %}
                    1 supporting resource
                {% else %}
                    {{ subject.resources.count }} supporting resources
                {% endif %}
            </div>
        </div>

        <br>
        <br>
     {% endfor %}
{% endblock content %}
